# User data
model/*
!model/cube/
image/*
!image/black.png
!image/ObjViewer.png
!image/IncDir.png
!image/LibDir.png
!image/EnvVar.png
!image/AddDep.png
!image/Batch.png
poses/*
!poses/00.txt
batch/*
!batch/cube.txt
config/*
!config/lifecam_720p.xml
script/
!config/*.m

# Temporary files

# Data
*.mov
*.wmv
*.mp4
*.zip
input
output

# Compiled files
*.sdf
*.open*
*.suo
*.db
.vs
Debug
Release

# Reference
reference
